/* TAB CONTENT */
.js .js-tabcontent section {
  display: none;
}

.js-tabcontent section.active {
  animation: show 0.5s forwards;
  display: block;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


/* ACCORDION */
.js .js-accordion dt {
  cursor: pointer;
}
.js-accordion dt::after {
  content: '↴';
  display: inline-block;
  margin-left: 10px;
  transition: transform 0.3s linear;
}
.js-accordion dt.active::after {
  transform: rotate(180deg);
}

.js .js-accordion dd {
  display: none;
}
.js-accordion dd.active {
  animation: slideDown 0.5s forwards;
  display: block;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-30px);
  } to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* SCROLL ANIMATION */
.js .js-scroll {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
  transition: opacity 0.3s, transform 0.3s;
}

.js .js-scroll.active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}