/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&display=swap');
/* font-family: 'IBM Plex Mono', monospace; */

body {
  color: #222;
  background-color: #FAF6ED;
  display: grid;
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
  -webkit-font-smoothing: antialiased;
}

/* MENU */
.menu {
  background-color: #FB5;
  grid-column: 3 / 5;
  margin: 2rem 0;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.menu li a {
  color: #222;
  display: block;
  font-family: 'IBM Plex Mono', monospace;
  font-style: 0.875rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  margin-right: 10px;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
}